/*-( LINK OTHER CSS FILES */
@import url("navigation.css");
/* LINK OTHER CSS FILES )-*/

/*-( PAGE SETUP */
:root {
  --base-width: 1366;
  --page-padding: calc((139 / var(--base-width)) * 100vw);

  --col__txt_main: #ffffff;
  --col__txt_title: #3d3d3d;
  --col__txt_small: #737373;
  --col__highlight: #ee9b00;
  --col__back_1: #fbfbfb;
  --col__back_2: #264653;
  --col__back_3: #001219;
  --col__back_4: #005f73;
}
/* PAGE SETUP )-*/

/*-( TEXT */
h1 {
  --text-size: 56;
  font-weight: bold;
}
h2 {
  --text-size: 35;
  font-weight: bold;
}
/* TEXT )-*/

#hero,
#palace,
#aliquam,
#gallery,
#apply,
#footer {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}

/*-( NAV */
#nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 167px;
}
#nav .title {
  display: flex;
  align-items: center;
  color: var(--col__txt_main);
  --text-size: 32;
  margin-right: auto;
  font-family: "Noto Sans";
  white-space: nowrap;
  font-weight: bold;
}
#nav .title img {
  --width: 48;
  margin-right: 14px;
}
#nav .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 55px;
}
#nav .list a {
  text-decoration: none;
  color: var(--col__txt_main);
  font-weight: 600;
  padding: 0.5em;
  display: inline-block;
  font-family: "Noto Sans";
}
#nav .list a:hover {
  background-color: var(--col__highlight);
}
/* NAV )-*/

/*-( HERO */
#hero {
  background-image: url("../img/hero_background.webp");
  background-position: bottom;
  background-size: cover;
  position: relative;
  padding-top: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero::after {
  content: "";
  background-color: #435061;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
#hero * {
  position: relative;
  z-index: 2;
}
#hero h1 {
  font-family: "Noto Sans";
  color: var(--col__txt_main);
  margin-bottom: 24px;
}
#hero p {
  font-family: "Open Sans";
  color: var(--col__txt_main);
  --text-size: 18;
  font-weight: bold;
  margin-bottom: 200px;
}
/* HERO )-*/

/*-( PALACE PAGE */
#palace {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 91px;
  padding-bottom: 90px;
  background-color: var(--col__back_1);
}
#palace article h2 {
  --width: 501;
  margin-bottom: 33px;
  color: var(--col__txt_title);
  font-family: "Noto Sans";
}
#palace article p {
  --width: 435;
  color: var(--col__txt_small);
  font-family: "Open Sans";
}
#palace article p:nth-of-type(1) {
  font-weight: bold;
}
#palace article p:nth-of-type(-n + 2) {
  margin-bottom: 1.5em;
}
#palace img {
  --width: 538;
  --width-shrink: 2;
  height: 100%;
}
/* PALACE PAGE )-*/

/*-( ALIQUAM ARTICLE */
#aliquam {
  background-color: var(--col__back_2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 86px;
  padding-bottom: 36px;
}
#aliquam h2 {
  color: var(--col__txt_main);
  margin-bottom: 82px;
  font-family: "Noto Sans";
}
#aliquam .text {
  display: flex;
  gap: 50px;
}
#aliquam .text div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#aliquam .text p {
  color: var(--col__txt_main);
  --text-size: 20;
  font-family: "Open Sans";
}
/* ALIQUAM ARTICLE )-*/

/*-( IMAGE GALLERY */
#gallery {
  background-color: var(--col__highlight);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 65px;
  color: var(--col__txt_main);
}
#gallery h2 {
  margin-bottom: 28px;
  font-family: "Noto Sans";
}
#gallery p {
  margin-bottom: 57px;
  --width: 732;
  text-align: center;
  font-weight: bold;
  font-family: "Open Sans";
}
#gallery .img_gal {
  display: flex;
  gap: 16px;
}
#gallery .img_main {
  --width: 536;
  --width-shrink: 2;
  object-fit: cover;
}
#gallery .img_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 30px;
}
#gallery .img_small {
  width: 100%;
  height: 100%;
}
/* IMAGE GALLERY )-*/
